.main-content.text-zinc-800
  / Page Header
  .block.justify-between.page-header.md:flex
    %div
      %h3.font-semibold{:class => " text-[1.125rem]"} Timeline
    %ol.flex.items-center.whitespace-nowrap.min-w-0
      %li{:class => "text-[0.813rem] ps-[0.5rem]"}
        %a.flex.items-center.text-primary.hover:text-primary.dark:text-primary.truncate{:href => "javascript:void(0);"}
          Pages
          %i.ti.ti-chevrons-right.flex-shrink-0.overflow-visible.rtl:rotate-180{:class => " px-[0.5rem]"}
      %li.font-semibold.hover:text-primary{"aria-current" => "page", :class => " dark:text-white/50"} Timeline
  / Page Header Close
  / Start::row-1
  .container
    %ul.timeline.list-none.text-defaulttextcolor{:class => "text-[0.813rem]"}
      %li
        .timeline-time.text-end
          %span.date FRIDAY
          %span.time.inline-block 02:31
        .timeline-icon
          %a{"aria-label" => "anchor", :href => "javascript:void(0);"}
        .timeline-body
          .flex.items-start.timeline-main-content.flex-wrap.mt-0
            .avatar.avatar-md.online.me-3.avatar-rounded.md:mt-0.mt-6
              %img{:alt => "avatar", :src => "../assets/images/faces/4.jpg"}/
            .flex-grow
              .flex.items-center
                .sm:mt-0.mt-2
                  %p.mb-0.font-semibold{:class => "text-[.875rem]"} Emperio
                  %p.mb-0{:class => "text-[#8c9097] dark:text-white/50"}
                    Project assigned by the manager all
                    %span.badge.text-primary.font-semibold.mx-1{:class => "bg-primary/10"}> files
                    and
                    %span.badge.text-primary.font-semibold.mx-1{:class => "bg-primary/10"}> folders
                    were included
                .ms-auto
                  %span.ltr:float-right.rtl:float-left.badge.timeline-badge.whitespace-nowrap{:class => "!bg-light text-[#8c9097] dark:text-white/50"} 24,Oct 2022
      %li
        .timeline-time.text-end
          %span.date MONDAY
          %span.time.inline-block 08:47
        .timeline-icon
          %a{"aria-label" => "anchor", :href => "javascript:void(0);"}
        .timeline-body
          .flex.items-start.timeline-main-content.flex-wrap.mt-0
            .avatar.avatar-md.online.me-3.avatar-rounded.md:mt-0.mt-6
              %img{:alt => "avatar", :src => "../assets/images/faces/15.jpg"}/
            .flex-grow
              .flex.items-center
                .sm:mt-0.mt-2
                  %p.mb-0.font-semibold{:class => "text-[.875rem]"} Dwayne Bero
                  %p.mb-0{:class => "text-[#8c9097] dark:text-white/50"} Admin and other team accepted your work request
                .ms-auto
                  %span.ltr:float-right.rtl:float-left.badge.timeline-badge.whitespace-nowrap{:class => "!bg-light text-[#8c9097] dark:text-white/50"} 30,Sep 2022
      %li
        .timeline-time.text-end
          %span.date YESTERDAY
          %span.time.inline-block 18:43
        .timeline-icon
          %a{"aria-label" => "anchor", :href => "javascript:void(0);"}
        .timeline-body
          .flex.items-start.timeline-main-content.flex-wrap.mt-0
            .avatar.avatar-md.online.me-3.avatar-rounded.md:mt-0.mt-6
              %img{:alt => "avatar", :src => "../assets/images/faces/11.jpg"}/
            .flex-grow
              .flex.items-center
                .sm:mt-0.mt-2
                  %p.mb-0.font-semibold{:class => "text-[.875rem]"} Alister Chuk
                  %p.mb-0{:class => "text-[#8c9097] dark:text-white/50"}
                    Temporary data will be
                    %span.badge.text-danger.font-semibold.mx-1{:class => "bg-danger/10"} deleted
                    once dedicated time complated
                .ms-auto
                  %span.ltr:float-right.rtl:float-left.badge.timeline-badge.whitespace-nowrap{:class => "!bg-light text-[#8c9097] dark:text-white/50"} 11,Sep 2021
      %li
        .timeline-time.text-end
          %span.date TODAY
          %span.time.inline-block 03:18
        .timeline-icon
          %a{"aria-label" => "anchor", :href => "javascript:void(0);"}
        .timeline-body
          .flex.items-start.timeline-main-content.flex-wrap.mt-0
            .avatar.avatar-md.online.me-3.avatar-rounded.md:mt-0.mt-6
              %img{:alt => "avatar", :src => "../assets/images/faces/5.jpg"}/
            .flex-grow
              .flex.items-center
                .sm:mt-0.mt-2
                  %p.mb-0.font-semibold{:class => "text-[.875rem]"} Melissa Blue
                  %p.mb-0{:class => "text-[#8c9097] dark:text-white/50"}
                    Approved date for sanction of loan is verified
                    %i.ri-checkbox-circle-line.text-success.ms-1.align-middle{:class => "text-[1rem]"}
                .ms-auto
                  %span.ltr:float-right.rtl:float-left.badge.timeline-badge.whitespace-nowrap{:class => "!bg-light text-[#8c9097] dark:text-white/50"} 18,Sep 2021
      %li
        .timeline-time.text-end
          %span.date TODAY
          %span.time.inline-block 12:24
        .timeline-icon
          %a{"aria-label" => "anchor", :href => "javascript:void(0);"}
        .timeline-body
          .flex.items-start.timeline-main-content.flex-wrap.mt-0
            .avatar.avatar-md.online.me-3.avatar-rounded.md:mt-0.mt-6
              %img{:alt => "avatar", :src => "../assets/images/faces/10.jpg"}/
            .flex-grow
              .flex.items-center
                .sm:mt-0.mt-2
                  %p.mb-0.font-semibold{:class => "text-[.875rem]"} Zack Slayer
                  %p.mb-0{:class => "text-[#8c9097] dark:text-white/50"}
                    Social network accounts are at risk check your
                    %span.badge.text-success.font-semibold.mx-1{:class => "bg-success/10"} login
                    details
                .ms-auto
                  %span.ltr:float-right.rtl:float-left.badge.timeline-badge.whitespace-nowrap{:class => "!bg-light text-[#8c9097] dark:text-white/50"} 15,Sep 2021
      %li
        .timeline-time.text-end
          %span.date TODAY
          %span.time.inline-block 04:11
        .timeline-icon
          %a{"aria-label" => "anchor", :href => "javascript:void(0);"}
        .timeline-body
          .flex.items-start.timeline-main-content.flex-wrap.mt-0
            .avatar.avatar-md.online.me-3.avatar-rounded.md:mt-0.mt-6
              %img{:alt => "avatar", :src => "../assets/images/faces/2.jpg"}/
            .flex-grow
              .flex.items-center
                .sm:mt-0.mt-2
                  %p.mb-0.font-semibold{:class => "text-[.875rem]"} Monika Karen
                  %p.mb-0{:class => "text-[#8c9097] dark:text-white/50"}
                    Changed the password of gmail 4 hrs ago.
                    %span.badge.bg-secondary.text-white Update
                .ms-auto
                  %span.ltr:float-right.rtl:float-left.badge.timeline-badge.whitespace-nowrap{:class => "!bg-light text-[#8c9097] dark:text-white/50"} 12,Sep 2021
    .timeline-loadmore-container.text-center
      %button.ti-btn.ti-btn-info.ti-btn-loader{:type => "button"}
        Loading
        %span.ti-spinner{:class => "!h-4 !w-4", :role => "status"}
  / End::row-1
  / Start::row-2
  .grid.grid-cols-12.gap-x-6
    .col-span-12.xl:col-span-4
      .box
        .box-header
          %h5.box-title Basic Timeline
        .box-body
          / Timeline
          %div
            / Heading
            .ps-2.my-2.first:mt-0
              %p.text-xs.font-medium.uppercase.text-gray-500.dark:text-white 1 Mar, 2024
            / End Heading
            / Item
            .flex.gap-x-3
              / Icon
              .relative.last:after:hidden.after:absolute.after:top-7.after:bottom-0.after:w-px.after:bg-gray-200.dark:after:dark:bg-bodybg2{:class => "after:start-3.5 after:-translate-x-[0.5px]"}
                .relative.z-10.size-7.flex.justify-center.items-center
                  .size-2.rounded-full.bg-gray-400.dark:bg-bodybg2
              / End Icon
              / Right Content
              .grow.pb-8{:class => "pt-0.5"}
                %p.flex.font-semibold.text-gray-800.dark:text-white{:class => "gap-x-1.5"}
                  %svg.flex-shrink-0.size-4.mt-1{:fill => "none", :height => "24", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                    %path{:d => "M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z"}
                    %polyline{:points => "14 2 14 8 20 8"}
                    %line{:x1 => "16", :x2 => "8", :y1 => "13", :y2 => "13"}
                    %line{:x1 => "16", :x2 => "8", :y1 => "17", :y2 => "17"}
                    %line{:x1 => "10", :x2 => "8", :y1 => "9", :y2 => "9"}
                  Created "Preline in React" task
                %p.mt-1.text-sm.text-gray-600{:class => "dark:text-white/70"} Find more detailed insctructions here.
                %button.mt-1.-ms-1.p-1.inline-flex.items-center.gap-x-2.text-xs.rounded-lg.border.border-transparent.text-gray-500.hover:bg-gray-100.disabled:opacity-50.disabled:pointer-events-none.dark:hover:dark:bg-bodybg.dark:focus:outline-none.dark:focus:ring-1{:class => "dark:text-white/70 dark:focus:ring-white/10", :type => "button"}
                  %img.flex-shrink-0.size-4.rounded-full{:alt => "Image Description", :src => "../assets/images/faces/1.jpg"}/
                  James Collins
              / End Right Content
            / End Item
            / Item
            .flex.gap-x-3
              / Icon
              .relative.last:after:hidden.after:absolute.after:top-7.after:bottom-0.after:w-px.after:bg-gray-200.dark:after:dark:bg-bodybg2{:class => "after:start-3.5 after:-translate-x-[0.5px]"}
                .relative.z-10.size-7.flex.justify-center.items-center
                  .size-2.rounded-full.bg-gray-400.dark:bg-bodybg2
              / End Icon
              / Right Content
              .grow.pb-8{:class => "pt-0.5"}
                %p.flex.font-semibold.text-gray-800.dark:text-white{:class => "gap-x-1.5"} Release v5.2.0 quick bug fix ðŸž
                %button.mt-1.-ms-1.p-1.inline-flex.items-center.gap-x-2.text-xs.rounded-lg.border.border-transparent.text-gray-500.hover:bg-gray-100.disabled:opacity-50.disabled:pointer-events-none.dark:hover:dark:bg-bodybg.dark:focus:outline-none.dark:focus:ring-1{:class => "dark:text-white/70 dark:focus:ring-white/10", :type => "button"}
                  %span.flex.flex-shrink-0.justify-center.items-center.size-4.bg-white.border.border-gray-200.font-semibold.uppercase.text-gray-600.rounded-full.dark:bg-bodybg{:class => "text-[10px] dark:border-white/10 dark:text-white/70"} A
                  Alex Gregarov
              / End Right Content
            / End Item
            / Item
            .flex.gap-x-3
              / Icon
              .relative.last:after:hidden.after:absolute.after:top-7.after:bottom-0.after:w-px.after:bg-gray-200.dark:after:dark:bg-bodybg2{:class => "after:start-3.5 after:-translate-x-[0.5px]"}
                .relative.z-10.size-7.flex.justify-center.items-center
                  .size-2.rounded-full.bg-gray-400.dark:bg-bodybg2
              / End Icon
              / Right Content
              .grow.pb-8{:class => "pt-0.5"}
                %p.flex.font-semibold.text-gray-800.dark:text-white{:class => "gap-x-1.5"} Marked "Install Charts" completed
                %p.mt-1.text-sm.text-gray-600{:class => "dark:text-white/70"} Finally! You can check it out here.
                %button.mt-1.-ms-1.p-1.inline-flex.items-center.gap-x-2.text-xs.rounded-lg.border.border-transparent.text-gray-500.hover:bg-gray-100.disabled:opacity-50.disabled:pointer-events-none.dark:hover:dark:bg-bodybg.dark:focus:outline-none.dark:focus:ring-1{:class => "dark:text-white/70 dark:focus:ring-white/10", :type => "button"}
                  %img.flex-shrink-0.size-4.rounded-full{:alt => "Image Description", :src => "../assets/images/faces/1.jpg"}/
                  James Collins
              / End Right Content
            / End Item
            / Heading
            .ps-2.my-2.first:mt-0
              %p.text-xs.font-medium.uppercase.text-gray-500.dark:text-white 29 Feb, 2024
            / End Heading
            / Item
            .flex.gap-x-3
              / Icon
              .relative.last:after:hidden.after:absolute.after:top-7.after:bottom-0.after:w-px.after:bg-gray-200.dark:after:dark:bg-bodybg2{:class => "after:start-3.5 after:-translate-x-[0.5px]"}
                .relative.z-10.size-7.flex.justify-center.items-center
                  .size-2.rounded-full.bg-gray-400.dark:bg-bodybg2
              / End Icon
              / Right Content
              .grow.pb-8{:class => "pt-0.5"}
                %p.flex.font-semibold.text-gray-800.dark:text-white{:class => "gap-x-1.5"} Take a break â›³
                %p.mt-1.text-sm.text-gray-600{:class => "dark:text-white/70"} Just chill for now... ðŸ˜‰
              / End Right Content
            / End Item
          / End Timeline
    .col-span-12.xl:col-span-4
      .box
        .box-header
          %h5.box-title Collapsable Timeline
        .box-body
          / Timeline
          %div
            / Heading
            .ps-2.my-2.first:mt-0
              %p.text-xs.font-medium.uppercase.text-gray-500.dark:text-white 1 Mar, 2024
            / End Heading
            / Item
            .flex.gap-x-3
              / Icon
              .relative.last:after:hidden.after:absolute.after:top-7.after:bottom-0.after:w-px.after:bg-gray-200.dark:after:dark:bg-bodybg2{:class => "after:start-3.5 after:-translate-x-[0.5px]"}
                .relative.z-10.size-7.flex.justify-center.items-center
                  .size-2.rounded-full.bg-gray-400.dark:bg-bodybg2
              / End Icon
              / Right Content
              .grow.pb-8{:class => "pt-0.5"}
                %p.flex.font-semibold.text-gray-800.dark:text-white{:class => "gap-x-1.5"}
                  %svg.flex-shrink-0.size-4.mt-1{:fill => "none", :height => "24", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                    %path{:d => "M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z"}
                    %polyline{:points => "14 2 14 8 20 8"}
                    %line{:x1 => "16", :x2 => "8", :y1 => "13", :y2 => "13"}
                    %line{:x1 => "16", :x2 => "8", :y1 => "17", :y2 => "17"}
                    %line{:x1 => "10", :x2 => "8", :y1 => "9", :y2 => "9"}
                  Created "Preline in React" task
                %p.mt-1.text-sm.text-gray-600{:class => "dark:text-white/70"} Find more detailed insctructions here.
                %button.mt-1.-ms-1.p-1.inline-flex.items-center.gap-x-2.text-xs.rounded-lg.border.border-transparent.text-gray-500.hover:bg-gray-100.disabled:opacity-50.disabled:pointer-events-none.dark:hover:dark:bg-bodybg.dark:focus:outline-none.dark:focus:ring-1{:class => "dark:text-white/70 dark:focus:ring-white/10", :type => "button"}
                  %img.flex-shrink-0.size-4.rounded-full{:alt => "Image Description", :src => "../assets/images/faces/1.jpg"}/
                  James Collins
              / End Right Content
            / End Item
            / Item
            .flex.gap-x-3
              / Icon
              .relative.last:after:hidden.after:absolute.after:top-7.after:bottom-0.after:w-px.after:bg-gray-200.dark:after:dark:bg-bodybg2{:class => "after:start-3.5 after:-translate-x-[0.5px]"}
                .relative.z-10.size-7.flex.justify-center.items-center
                  .size-2.rounded-full.bg-gray-400.dark:bg-bodybg2
              / End Icon
              / Right Content
              .grow.pb-8{:class => "pt-0.5"}
                %p.flex.font-semibold.text-gray-800.dark:text-white{:class => "gap-x-1.5"} Release v5.2.0 quick bug fix ðŸž
                %button.mt-1.-ms-1.p-1.inline-flex.items-center.gap-x-2.text-xs.rounded-lg.border.border-transparent.text-gray-500.hover:bg-gray-100.disabled:opacity-50.disabled:pointer-events-none.dark:hover:dark:bg-bodybg.dark:focus:outline-none.dark:focus:ring-1{:class => "dark:text-white/70 dark:focus:ring-white/10", :type => "button"}
                  %span.flex.flex-shrink-0.justify-center.items-center.size-4.bg-white.border.border-gray-200.font-semibold.uppercase.text-gray-600.rounded-full.dark:bg-bodybg{:class => "text-[10px] dark:border-white/10 dark:text-white/70"} A
                  Alex Gregarov
              / End Right Content
            / End Item
            / Item
            .flex.gap-x-3
              / Icon
              .relative.last:after:hidden.after:absolute.after:top-7.after:bottom-0.after:w-px.after:bg-gray-200.dark:after:dark:bg-bodybg2{:class => "after:start-3.5 after:-translate-x-[0.5px]"}
                .relative.z-10.size-7.flex.justify-center.items-center
                  .size-2.rounded-full.bg-gray-400.dark:bg-bodybg2
              / End Icon
              / Right Content
              .grow.pb-8{:class => "pt-0.5"}
                %p.flex.font-semibold.text-gray-800.dark:text-white{:class => "gap-x-1.5"} Marked "Install Charts" completed
                %p.mt-1.text-sm.text-gray-600{:class => "dark:text-white/70"} Finally! You can check it out here.
                %button.mt-1.-ms-1.p-1.inline-flex.items-center.gap-x-2.text-xs.rounded-lg.border.border-transparent.text-gray-500.hover:bg-gray-100.disabled:opacity-50.disabled:pointer-events-none.dark:hover:dark:bg-bodybg.dark:focus:outline-none.dark:focus:ring-1{:class => "dark:text-white/70 dark:focus:ring-white/10", :type => "button"}
                  %img.flex-shrink-0.size-4.rounded-full{:alt => "Image Description", :src => "../assets/images/faces/1.jpg"}/
                  James Collins
              / End Right Content
            / End Item
            / Heading
            .ps-2.my-2.first:mt-0
              %p.text-xs.font-medium.uppercase.text-gray-500.dark:text-white 29 Feb, 2024
            / End Heading
            / Item
            .flex.gap-x-3
              / Icon
              .relative.last:after:hidden.after:absolute.after:top-7.after:bottom-0.after:w-px.after:bg-gray-200.dark:after:dark:bg-bodybg2{:class => "after:start-3.5 after:-translate-x-[0.5px]"}
                .relative.z-10.size-7.flex.justify-center.items-center
                  .size-2.rounded-full.bg-gray-400.dark:bg-bodybg2
              / End Icon
              / Right Content
              .grow.pb-8{:class => "pt-0.5"}
                %p.flex.font-semibold.text-gray-800.dark:text-white{:class => "gap-x-1.5"} Take a break â›³
                %p.mt-1.text-sm.text-gray-600{:class => "dark:text-white/70"} Just chill for now... ðŸ˜‰
              / End Right Content
            / End Item
            / Collapse
            #hs-timeline-collapse.hs-collapse.hidden.w-full.overflow-hidden.duration-300{"aria-labelledby" => "hs-timeline-collapse-content", :class => "transition-[height]"}
              / Heading
              .ps-2.my-2
                %p.text-xs.font-medium.uppercase.text-gray-500.dark:text-white 28 Feb, 2024
              / End Heading
              / Item
              .flex.gap-x-3
                / Icon
                .relative.last:after:hidden.after:absolute.after:top-7.after:bottom-0.after:w-px.after:bg-gray-200.dark:after:dark:bg-bodybg2{:class => "after:start-3.5 after:-translate-x-[0.5px]"}
                  .relative.z-10.size-7.flex.justify-center.items-center
                    .size-2.rounded-full.bg-gray-400.dark:bg-bodybg2
                / End Icon
                / Right Content
                .grow.pb-8{:class => "pt-0.5"}
                  %p.flex.font-semibold.text-gray-800.dark:text-white{:class => "gap-x-1.5"} Final touch ups
                  %p.mt-1.text-sm.text-gray-600{:class => "dark:text-white/70"} Double check everything and make sure we're ready to go.
                / End Right Content
              / End Item
            / End Collapse
            / Item
            .flex.gap-x-3{:class => "ps-[7px]"}
              %button#hs-timeline-collapse-content.hs-collapse-toggle.hs-collapse-open:hidden.text-start.inline-flex.items-center.gap-x-1.text-sm.text-primary.font-medium.decoration-2.hover:underline.dark:text-primary.dark:focus:outline-none.dark:focus:ring-1{:class => "dark:focus:ring-white/10", "data-hs-collapse" => "#hs-timeline-collapse", :type => "button"}
                %svg.flex-shrink-0{:class => "size-3.5", :fill => "none", :height => "24", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "m6 9 6 6 6-6"}
                Show older
            / End Item
          / End Timeline
    .col-span-12.xl:col-span-4
      .box
        .box-header
          %h5.box-title Hoverable Timeline
        .box-body
          / Timeline
          %div
            / Heading
            .ps-2.my-2.first:mt-0
              %p.text-xs.font-medium.uppercase.text-gray-500.dark:text-white 1 MAR, 2024
            / End Heading
            / Item
            .flex.gap-x-3.relative.group.rounded-lg.hover:bg-gray-100{:class => "dark:hover:bg-white/10"}
              %a.absolute.inset-0{:class => "z-[1]", :href => "javascript:void(0);"}
              / Icon
              .relative.last:after:hidden.after:absolute.after:top-0.after:bottom-0.after:w-px.after:bg-gray-200.dark:after:dark:bg-bodybg2{:class => "after:start-3.5 after:-translate-x-[0.5px] dark:group-hover:after:bg-bodybg/70"}
                .relative.z-10.size-7.flex.justify-center.items-center
                  .size-2.rounded-full.bg-white.border-2.border-gray-300.group-hover:border-gray-600.dark:group-hover:border-white.dark:bg-bgdark{:class => "dark:border-white/10"}
              / End Icon
              / Right Content
              .grow.pt-2.pb-8
                %p.flex.font-semibold.text-gray-800.dark:text-white{:class => "gap-x-1.5"}
                  %svg.flex-shrink-0.size-4.mt-1{:fill => "none", :height => "24", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                    %path{:d => "M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z"}
                    %polyline{:points => "14 2 14 8 20 8"}
                    %line{:x1 => "16", :x2 => "8", :y1 => "13", :y2 => "13"}
                    %line{:x1 => "16", :x2 => "8", :y1 => "17", :y2 => "17"}
                    %line{:x1 => "10", :x2 => "8", :y1 => "9", :y2 => "9"}
                  Created "Preline in React" task
                %p.mt-1.text-sm.text-gray-600{:class => "dark:text-white/70"} Find more detailed insctructions here.
                %button.mt-1.-ms-1.p-1.relative.z-10.inline-flex.items-center.gap-x-2.text-xs.rounded-lg.border.border-transparent.text-gray-500.hover:bg-white.hover:shadow-sm.disabled:opacity-50.disabled:pointer-events-none.dark:hover:bg-bodybg.dark:focus:outline-none.dark:focus:ring-1{:class => "dark:text-white/70 dark:focus:ring-white/10", :type => "button"}
                  %img.flex-shrink-0.size-4.rounded-full{:alt => "Image Description", :src => "../assets/images/faces/1.jpg"}/
                  James Collins
              / End Right Content
            / End Item
            / Item
            .flex.gap-x-3.relative.group.rounded-lg.hover:bg-gray-100{:class => "dark:hover:bg-white/10"}
              %a.absolute.inset-0{:class => "z-[1]", :href => "javascript:void(0);"}
              / Icon
              .relative.last:after:hidden.after:absolute.after:top-0.after:bottom-0.after:w-px.after:bg-gray-200.dark:after:dark:bg-bodybg2{:class => "after:start-3.5 after:-translate-x-[0.5px] dark:group-hover:after:bg-bodybg/70"}
                .relative.z-10.size-7.flex.justify-center.items-center
                  .size-2.rounded-full.bg-white.border-2.border-gray-300.group-hover:border-gray-600.dark:group-hover:border-white.dark:bg-bgdark{:class => "dark:border-white/10"}
              / End Icon
              / Right Content
              .grow.pt-2.pb-8
                %p.flex.font-semibold.text-gray-800.dark:text-white{:class => "gap-x-1.5"} Release v5.2.0 quick bug fix ðŸž
                %button.mt-1.-ms-1.p-1.relative.z-10.inline-flex.items-center.gap-x-2.text-xs.rounded-lg.border.border-transparent.text-gray-500.hover:bg-white.hover:shadow-sm.disabled:opacity-50.disabled:pointer-events-none.dark:hover:bg-bodybg.dark:focus:outline-none.dark:focus:ring-1{:class => "dark:text-white/70 dark:focus:ring-white/10", :type => "button"}
                  %span.flex.flex-shrink-0.justify-center.items-center.size-4.bg-white.border.border-gray-200.font-semibold.uppercase.text-gray-600.rounded-full.dark:bg-bodybg{:class => "text-[10px] dark:border-white/10 dark:text-white/70"} A
                  Alex Gregarov
              / End Right Content
            / End Item
            / Item
            .flex.gap-x-3.relative.group.rounded-lg.hover:bg-gray-100{:class => "dark:hover:bg-white/10"}
              %a.absolute.inset-0{:class => "z-[1]", :href => "javascript:void(0);"}
              / Icon
              .relative.last:after:hidden.after:absolute.after:top-0.after:bottom-0.after:w-px.after:bg-gray-200.dark:after:dark:bg-bodybg2{:class => "after:start-3.5 after:-translate-x-[0.5px] dark:group-hover:after:bg-bodybg/70"}
                .relative.z-10.size-7.flex.justify-center.items-center
                  .size-2.rounded-full.bg-white.border-2.border-gray-300.group-hover:border-gray-600.dark:group-hover:border-white.dark:bg-bgdark{:class => "dark:border-white/10"}
              / End Icon
              / Right Content
              .grow.pt-2.pb-8
                %p.flex.font-semibold.text-gray-800.dark:text-white{:class => "gap-x-1.5"} Marked "Install Charts" completed
                %p.mt-1.text-sm.text-gray-600{:class => "dark:text-white/70"} Finally! You can check it out here.
                %button.mt-1.-ms-1.p-1.relative.z-10.inline-flex.items-center.gap-x-2.text-xs.rounded-lg.border.border-transparent.text-gray-500.hover:bg-white.hover:shadow-sm.disabled:opacity-50.disabled:pointer-events-none.dark:hover:bg-bodybg.dark:focus:outline-none.dark:focus:ring-1{:class => "dark:text-white/70 dark:focus:ring-white/10", :type => "button"}
                  %img.flex-shrink-0.size-4.rounded-full{:alt => "Image Description", :src => "../assets/images/faces/1.jpg"}/
                  James Collins
              / End Right Content
            / End Item
            / Heading
            .ps-2.my-2.first:mt-0
              %p.text-xs.font-medium.uppercase.text-gray-500.dark:text-white 29 FEB, 2024
            / End Heading
            / Item
            .flex.gap-x-3.relative.group.rounded-lg.hover:bg-gray-100{:class => "dark:hover:bg-white/10"}
              %a.absolute.inset-0{:class => "z-[1]", :href => "javascript:void(0);"}
              / Icon
              .relative.last:after:hidden.after:absolute.after:top-0.after:bottom-0.after:w-px.after:bg-gray-200.dark:after:dark:bg-bodybg2{:class => "after:start-3.5 after:-translate-x-[0.5px] dark:group-hover:after:bg-bodybg/70"}
                .relative.z-10.size-7.flex.justify-center.items-center
                  .size-2.rounded-full.bg-white.border-2.border-gray-300.group-hover:border-gray-600.dark:group-hover:border-white.dark:bg-bgdark{:class => "dark:border-white/10"}
              / End Icon
              / Right Content
              .grow.pt-2.pb-8
                %p.flex.font-semibold.text-gray-800.dark:text-white{:class => "gap-x-1.5"} Take a break â›³
                %p.mt-1.text-sm.text-gray-600{:class => "dark:text-white/70"} Just chill for now... ðŸ˜‰
              / End Right Content
            / End Item
          / End Timeline
  / End::row-2
  / Start::row-3
  .grid.grid-cols-12.gap-x-6
    .col-span-12.xl:col-span-6
      .box
        .box-header
          %h5.box-title Timeline with Time
        .box-body
          / Timeline
          %div
            / Item
            .flex.gap-x-3
              / Left Content
              .w-16.text-end
                %span.text-xs.text-gray-500{:class => "dark:text-white/70"} 12:05PM
              / End Left Content
              / Icon
              .relative.last:after:hidden.after:absolute.after:top-7.after:bottom-0.after:w-px.after:bg-gray-200.dark:after:dark:bg-bodybg2{:class => "after:start-3.5 after:-translate-x-[0.5px]"}
                .relative.z-10.size-7.flex.justify-center.items-center
                  .size-2.rounded-full.bg-gray-400.dark:bg-bodybg2
              / End Icon
              / Right Content
              .grow.pb-8{:class => "pt-0.5"}
                %p.flex.font-semibold.text-gray-800.dark:text-white{:class => "gap-x-1.5"}
                  %svg.flex-shrink-0.size-4.mt-1{:fill => "none", :height => "24", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                    %path{:d => "M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z"}
                    %polyline{:points => "14 2 14 8 20 8"}
                    %line{:x1 => "16", :x2 => "8", :y1 => "13", :y2 => "13"}
                    %line{:x1 => "16", :x2 => "8", :y1 => "17", :y2 => "17"}
                    %line{:x1 => "10", :x2 => "8", :y1 => "9", :y2 => "9"}
                  Created "Preline in React" task
                %p.mt-1.text-sm.text-gray-600{:class => "dark:text-white/70"} Find more detailed insctructions here.
                %button.mt-1.-ms-1.p-1.inline-flex.items-center.gap-x-2.text-xs.rounded-lg.border.border-transparent.text-gray-500.hover:bg-gray-100.disabled:opacity-50.disabled:pointer-events-none.dark:hover:dark:bg-bodybg.dark:focus:outline-none.dark:focus:ring-1{:class => "dark:text-white/70 dark:focus:ring-white/10", :type => "button"}
                  %img.flex-shrink-0.size-4.rounded-full{:alt => "Image Description", :src => "../assets/images/faces/1.jpg"}/
                  James Collins
              / End Right Content
            / End Item
            / Item
            .flex.gap-x-3
              / Left Content
              .w-16.text-end
                %span.text-xs.text-gray-500{:class => "dark:text-white/70"} 12:05PM
              / End Left Content
              / Icon
              .relative.last:after:hidden.after:absolute.after:top-7.after:bottom-0.after:w-px.after:bg-gray-200.dark:after:dark:bg-bodybg2{:class => "after:start-3.5 after:-translate-x-[0.5px]"}
                .relative.z-10.size-7.flex.justify-center.items-center
                  .size-2.rounded-full.bg-gray-400.dark:bg-bodybg2
              / End Icon
              / Right Content
              .grow.pb-8{:class => "pt-0.5"}
                %p.flex.font-semibold.text-gray-800.dark:text-white{:class => "gap-x-1.5"} Release v5.2.0 quick bug fix ðŸž
                %button.mt-1.-ms-1.p-1.inline-flex.items-center.gap-x-2.text-xs.rounded-lg.border.border-transparent.text-gray-500.hover:bg-gray-100.disabled:opacity-50.disabled:pointer-events-none.dark:hover:dark:bg-bodybg.dark:focus:outline-none.dark:focus:ring-1{:class => "dark:text-white/70 dark:focus:ring-white/10", :type => "button"}
                  %span.flex.flex-shrink-0.justify-center.items-center.size-4.bg-white.border.border-gray-200.font-semibold.uppercase.text-gray-600.rounded-full.dark:bg-bodybg{:class => "text-[10px] dark:border-white/10 dark:text-white/70"} A
                  Alex Gregarov
              / End Right Content
            / End Item
            / Item
            .flex.gap-x-3
              / Left Content
              .w-16.text-end
                %span.text-xs.text-gray-500{:class => "dark:text-white/70"} 12:05PM
              / End Left Content
              / Icon
              .relative.last:after:hidden.after:absolute.after:top-7.after:bottom-0.after:w-px.after:bg-gray-200.dark:after:dark:bg-bodybg2{:class => "after:start-3.5 after:-translate-x-[0.5px]"}
                .relative.z-10.size-7.flex.justify-center.items-center
                  .size-2.rounded-full.bg-gray-400.dark:bg-bodybg2
              / End Icon
              / Right Content
              .grow.pb-8{:class => "pt-0.5"}
                %p.flex.font-semibold.text-gray-800.dark:text-white{:class => "gap-x-1.5"} Marked "Install Charts" completed
                %p.mt-1.text-sm.text-gray-600{:class => "dark:text-white/70"} Finally! You can check it out here.
                %button.mt-1.-ms-1.p-1.inline-flex.items-center.gap-x-2.text-xs.rounded-lg.border.border-transparent.text-gray-500.hover:bg-gray-100.disabled:opacity-50.disabled:pointer-events-none.dark:hover:dark:bg-bodybg.dark:focus:outline-none.dark:focus:ring-1{:class => "dark:text-white/70 dark:focus:ring-white/10", :type => "button"}
                  %img.flex-shrink-0.size-4.rounded-full{:alt => "Image Description", :src => "../assets/images/faces/1.jpg"}/
                  James Collins
              / End Right Content
            / End Item
            / Item
            .flex.gap-x-3
              / Left Content
              .w-16.text-end
                %span.text-xs.text-gray-500{:class => "dark:text-white/70"} 12:05PM
              / End Left Content
              / Icon
              .relative.last:after:hidden.after:absolute.after:top-7.after:bottom-0.after:w-px.after:bg-gray-200.dark:after:dark:bg-bodybg2{:class => "after:start-3.5 after:-translate-x-[0.5px]"}
                .relative.z-10.size-7.flex.justify-center.items-center
                  .size-2.rounded-full.bg-gray-400.dark:bg-bodybg2
              / End Icon
              / Right Content
              .grow.pb-8{:class => "pt-0.5"}
                %p.flex.font-semibold.text-gray-800.dark:text-white{:class => "gap-x-1.5"} Take a break â›³
                %p.mt-1.text-sm.text-gray-600{:class => "dark:text-white/70"} Just chill for now... ðŸ˜‰
              / End Right Content
            / End Item
          / End Timeline
    .col-span-12.xl:col-span-6
      .box
        .box-header
          %h5.box-title Timeline with Time , Icons and avatars
        .box-body
          / Timeline
          %div
            / Heading
            .ps-2.my-2.first:mt-0
              %p.text-xs.font-medium.uppercase.text-gray-500.dark:text-white 1 MAR, 2024
            / End Heading
            / Item
            .flex.gap-x-3
              / Icon
              .relative.last:after:hidden.after:absolute.after:top-7.after:bottom-0.after:w-px.after:bg-gray-200.dark:after:dark:bg-bodybg2{:class => "after:start-3.5 after:-translate-x-[0.5px]"}
                .relative.z-10.size-7.flex.justify-center.items-center
                  %img.flex-shrink-0.size-7.rounded-full{:alt => "Image Description", :src => "../assets/images/faces/1.jpg"}/
              / End Icon
              / Right Content
              .grow.pb-8{:class => "pt-0.5"}
                %p.flex.font-semibold.text-gray-800.dark:text-white{:class => "gap-x-1.5"}
                  %svg.flex-shrink-0.size-4.mt-1{:fill => "none", :height => "24", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                    %path{:d => "M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z"}
                    %polyline{:points => "14 2 14 8 20 8"}
                    %line{:x1 => "16", :x2 => "8", :y1 => "13", :y2 => "13"}
                    %line{:x1 => "16", :x2 => "8", :y1 => "17", :y2 => "17"}
                    %line{:x1 => "10", :x2 => "8", :y1 => "9", :y2 => "9"}
                  Created "Preline in React" task
                %p.mt-1.text-sm.text-gray-600{:class => "dark:text-white/70"} Find more detailed insctructions here.
                %button.mt-1.-ms-1.p-1.inline-flex.items-center.gap-x-2.text-xs.rounded-lg.border.border-transparent.text-gray-500.hover:bg-gray-100.disabled:opacity-50.disabled:pointer-events-none.dark:hover:dark:bg-bodybg.dark:focus:outline-none.dark:focus:ring-1{:class => "dark:text-white/70 dark:focus:ring-white/10", :type => "button"}
                  %img.flex-shrink-0.size-4.rounded-full{:alt => "Image Description", :src => "../assets/images/faces/1.jpg"}/
                  James Collins
              / End Right Content
            / End Item
            / Item
            .flex.gap-x-3
              / Icon
              .relative.last:after:hidden.after:absolute.after:top-7.after:bottom-0.after:w-px.after:bg-gray-200.dark:after:dark:bg-bodybg2{:class => "after:start-3.5 after:-translate-x-[0.5px]"}
                .relative.z-10.size-7.flex.justify-center.items-center
                  %span.flex.flex-shrink-0.justify-center.items-center.size-7.border.border-gray-200.text-sm.font-semibold.uppercase.text-gray-800.rounded-full.dark:bg-bodybg{:class => "dark:border-white/10 dark:text-white/70"} A
              / End Icon
              / Right Content
              .grow.pb-8{:class => "pt-0.5"}
                %p.flex.font-semibold.text-gray-800.dark:text-white{:class => "gap-x-1.5"} Release v5.2.0 quick bug fix ðŸž
                %button.mt-1.-ms-1.p-1.inline-flex.items-center.gap-x-2.text-xs.rounded-lg.border.border-transparent.text-gray-500.hover:bg-gray-100.disabled:opacity-50.disabled:pointer-events-none.dark:hover:dark:bg-bodybg.dark:focus:outline-none.dark:focus:ring-1{:class => "dark:text-white/70 dark:focus:ring-white/10", :type => "button"}
                  %span.flex.flex-shrink-0.justify-center.items-center.size-4.bg-white.border.border-gray-200.font-semibold.uppercase.text-gray-600.rounded-full.dark:bg-bodybg{:class => "text-[10px] dark:border-white/10 dark:text-white/70"} A
                  Alex Gregarov
              / End Right Content
            / End Item
            / Item
            .flex.gap-x-3
              / Icon
              .relative.last:after:hidden.after:absolute.after:top-7.after:bottom-0.after:w-px.after:bg-gray-200.dark:after:dark:bg-bodybg2{:class => "after:start-3.5 after:-translate-x-[0.5px]"}
                .relative.z-10.size-7.flex.justify-center.items-center
                  %img.flex-shrink-0.size-7.rounded-full{:alt => "Image Description", :src => "../assets/images/faces/1.jpg"}/
              / End Icon
              / Right Content
              .grow.pb-8{:class => "pt-0.5"}
                %p.flex.font-semibold.text-gray-800.dark:text-white{:class => "gap-x-1.5"} Marked "Install Charts" completed
                %p.mt-1.text-sm.text-gray-600{:class => "dark:text-white/70"} Finally! You can check it out here.
                %button.mt-1.-ms-1.p-1.inline-flex.items-center.gap-x-2.text-xs.rounded-lg.border.border-transparent.text-gray-500.hover:bg-gray-100.disabled:opacity-50.disabled:pointer-events-none.dark:hover:dark:bg-bodybg.dark:focus:outline-none.dark:focus:ring-1{:class => "dark:text-white/70 dark:focus:ring-white/10", :type => "button"}
                  %img.flex-shrink-0.size-4.rounded-full{:alt => "Image Description", :src => "../assets/images/faces/1.jpg"}/
                  James Collins
              / End Right Content
            / End Item
            / Heading
            .ps-2.my-2.first:mt-0
              %p.text-xs.font-medium.uppercase.text-gray-500.dark:text-white 29 FEB, 2024
            / End Heading
            / Item
            .flex.gap-x-3
              / Icon
              .relative.last:after:hidden.after:absolute.after:top-7.after:bottom-0.after:w-px.after:bg-gray-200.dark:after:dark:bg-bodybg2{:class => "after:start-3.5 after:-translate-x-[0.5px]"}
                .relative.z-10.size-7.flex.justify-center.items-center
                  %span.flex.flex-shrink-0.justify-center.items-center.size-7.bg-white.border.border-gray-200.font-semibold.uppercase.text-gray-600.rounded-full.dark:bg-bodybg{:class => "text-[10px] dark:border-white/10 dark:text-white/70"}
                    %svg.flex-shrink-0.size-4.mt-1{:fill => "none", :height => "24", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                      %path{:d => "M16 3h5v5"}
                      %path{:d => "M12 22v-8.3a4 4 0 0 0-1.172-2.872L3 3"}
                      %path{:d => "m15 9 6-6"}
              / End Icon
              / Right Content
              .grow.pb-8{:class => "pt-0.5"}
                %p.flex.font-semibold.text-gray-800.dark:text-white{:class => "gap-x-1.5"} Take a break â›³
                %p.mt-1.text-sm.text-gray-600{:class => "dark:text-white/70"} Just chill for now... ðŸ˜‰
              / End Right Content
            / End Item
          / End Timeline
  / End::row-3
