%div.px-5 
  .block.justify-between.page-header.md:flex.text-zinc-800
    %div
      %h3.font-semibold.text-lg Profile
    %ol.flex.items-center.whitespace-nowrap.min-w-0
      %li{:class => "text-zinc-800 ps-[0.5rem]"}
        %a.flex.items-center.text-zinc-800{class: "hover:text-zinc-800/30  truncate" , :href => "/"}
          Dashboard
          %i.ti.ti-chevrons-right.flex-shrink-0.overflow-visible.rtl:rotate-180{:class => " px-[0.5rem]"}
      %li.text-zinc-800.font-semibold{class: "hover:text-zinc-800 text-zinc-800", "aria-current" => "page", :class => "text-[0.813rem] "} Profile
  .grid.grid-cols-12.gap-x-6
    .xxl:col-span-4.xl:col-span-12.col-span-12.bg-white
      .box.overflow-hidden
        .box-body{:class => "!p-0"}
          .sm:flex.items-start.p-6{class:"bg-gradient-to-r from-slate-500 to-slate-800"}
            %div{class:"h-14 bg-linear-to-t from-sky-500 to-indigo-500"}
              %span.avatar.avatar-xxl.avatar-rounded.online.me-4
                %img{:alt => "", :src => "../assets/images/faces/9.jpg"}/
            .flex-grow.main-profile-info
              .flex.items-center{:class => "!justify-between"}
                %h6.font-semibold.mb-1.text-zinc-800{:class => "text-[1rem]"}= @user.name.titleize
                %div.grid.grid-cols-2.gap-3
                  =link_to edit_user_registration_path ,class: "underline" do
                    Edit Password
                  =link_to edit_user_path, class: "underline" do
                    Edit User
              %p.mb-1{:class => "!text-zinc-800 opacity-[0.7]"} Chief Executive Officer (C.E.O)
              %p.text-zinc-800.mb-6{:class => "text-[0.75rem] opacity-[0.5]"}
                %span.me-4.inline-flex
                  %i.ri-building-line.me-1.align-middle
                  Georgia
                %span.inline-flex
                  %i.ri-map-pin-line.me-1.align-middle
                  Washington D.C
              .flex.mb-0
                .me-6
                  %p.font-bold.text-zinc-800.text-shadow.mb-0{:class => "text-[1.25rem]"} 113
                  %p.mb-0.text-zinc-800{:class => "text-[.6875rem] opacity-[0.5]"} Projects
                .me-6
                  %p.font-bold.text-zinc-800.text-shadow.mb-0{:class => "text-[1.25rem]"} 12.2k
                  %p.mb-0.text-zinc-800{:class => "text-[.6875rem] opacity-[0.5]"} Followers
                .me-6
                  %p.font-bold.text-zinc-800.text-shadow.mb-0{:class => "text-[1.25rem]"} 128
                  %p.mb-0.text-zinc-800{:class => "text-[.6875rem] opacity-[0.5]"} Following
          .p-6.border-b.border-dashed{:class => "dark:border-defaultborder/10 text-zinc-800"}
            .mb-6
              %p.mb-2.font-semibold Professional Bio :
              %p.mb-0
                I am
                %b.text-zinc-800 Sonya Taylor,
                here by conclude that,i am the founder and managing director of the prestigeous company name laugh at all and acts as the cheif executieve officer of the company.
            .mb-0
              %p.mb-2.font-semibold{:class => "text-[.9375rem]"} Links :
              .mb-0
                %p.mb-1
                  %a.text-zinc-800{:href => "https://themeforest.net/user/spruko/portfolio", :target => "_blank"}
                    %u https://www.spruko.com/
                %p.mb-0
                  %a.text-zinc-800{:href => "https://themeforest.net/user/spruko/portfolio", :target => "_blank"}
                    %u https://themeforest.net/user/ spruko/portfolio
          .p-6.border-b.border-dashed{:class => "dark:border-defaultborder/10"}
            %p.mb-2.me-6.font-semibold{:class => "text-[.9375rem]"} Contact Information :
            %div{:class => "text-zinc-800/50"}
              %p.mb-2
                %span.avatar.avatar-sm.avatar-rounded.me-2.bg-light{:class => "text-zinc-800"}
                  %i.ri-mail-line.align-middle{:class => "text-[.875rem] text-zinc-800 "}
                sonyataylor2531@gmail.com
              %p.mb-2
                %span.avatar.avatar-sm.avatar-rounded.me-2.bg-light{:class => "text-zinc-800"}
                  %i.ri-phone-line.align-middle{:class => "text-[.875rem] text-zinc-800"}
                +(555) 555-1234
              %p.mb-0
                %span.avatar.avatar-sm.avatar-rounded.me-2.bg-light{:class => "text-zinc-800"}
                  %i.ri-map-pin-line.align-middle{:class => "text-[.875rem] text-zinc-800"}
                MIG-1-11, Monroe Street, Georgetown, Washington D.C, USA,20071
        