%div.flex.justify-between.flex.h-100.bg-white.py-4.my-3
  %div
    %i{class: "fa-solid fa-grip-lines text-black"}
  %div.flex.gap-3.items-center
    = link_to "#{current_user.first_name || "Please add name"}", edit_user_registration_path , class: "text-blue-500 font-bolde"
    %div.flex.items-center
      = button_to destroy_user_session_path, method: :delete, data: {turbo: false}, class: "text-red-500 text-lg font-bold " do
        %i{class:"fa-solid fa-right-from-bracket"}
      