.xl:col-span-6.col-span-12.bg-white.text-black.my-3
  %div.text-black.py-4.px-1
    .justify-between.flex
      .box-title.font-bold Reservations
      %div
        %button.ti-btn.ti-btn-light.text-white.py-1.px-2.rounded.bg-zinc-800{:class => "!py-1 !px-2 !text-[0.75rem]", :type => "button"} Add Reservation
    .box-body
      %ul.list-none.mb-0.personal-upcoming-events
        -@records.each do |res|
          %li.py-3
            .flex
              .me-2
                %span.avatar.avatar-rounded.bg-amber-600.py-2.px-3.rounded
                  %i{class:"fa-solid fa-hotel text-black"}
              .flex-grow.flex-col
                %span.flex.justify-between  
                  %span.text-primary.font-semibold=(res.guest_name || "Guest Name")
                  %div
                    %span Total
                    %span= res.total_price
                %div.flex
                  %span.block Arrival Date:
                  %span.badge.text-primary.whitespace-nowrap{:class => "bg-primary/10"}=res.arrival_date
                  %span.block Departure Date:
                  %span.badge.text-primary.whitespace-nowrap{:class => "bg-primary/10"}=res.departure_date
      =render partial: "/shared/pagination", locals: {per_page: @per_page , pagy: @pagy , url: reservations_path ,objects: @records}

            
          
   