%div.px-1.py-4
  .xl:col-span-12.col-span-12.text-zinc-800.bg-white
    .box.custom-card.text-zinc-800
      .box-header
        .box-title Todays Cleanings Task
      .box-body{:class => "!p-0"}
        .table-responsive
          %table.table.whitespace-nowrap.min-w-full.mb-0.text-zinc-800
            %thead
              %tr
                %th.text-start{:scope => "col"} Status
                %th.text-start{:scope => "col"} Cleaning Date
                %th.text-start{:scope => "col"} Listing Name
                %th.text-start{:scope => "col"} Cleaning Fee
            %tbody.top-selling
              - cleaning_tasks.each do |task|
                %tr.border-y.border-inherit.border-solid{:class => "dark:border-defaultborder/10"}
                  -listing = Listing.where(id: task.listing_id).first
                  %td.leading-none
                    %span.badge.badge-sm.text-success{:class => "bg-success/10 !font-normal"}= (task.status || "None")
                  %td
                    %span= task.cleaning_date
                  %td= listing.name
                  %td
                    %span.font-semibold= listing.cleaning_fee
              