%div.px-1.py-4
  .xl:col-span-12.col-span-12.text-zinc-800.bg-white{controller: "hello"}
    .box.custom-card.text-zinc-800
      .box-header.flex.justify-between.p-3
        .box-title Todays Cleanings Task
        .button   
          = link_to "Fetch Cleanings" , root_path(fetch_data: true),  class: "py-2 px-1 bg-zinc-500 rounded text-white"
      .box-body{:class => "!p-0"}
        .table-responsive
          %table.table.whitespace-nowrap.min-w-full.mb-0.text-zinc-800
            %thead
              %tr
                %th.text-start{:scope => "col"} Status
                %th.text-start{:scope => "col"} Cleaning Date
                %th.text-start{:scope => "col"} Listing Name
                %th.text-start{:scope => "col"} Cleaning Fee
            %tbody.top-selling
              - cleaning_tasks.order(cleaning_date: :asc).each do |task|
                %tr.border-y.border-inherit.border-solid{:class => "dark:border-defaultborder/10"}
                  -listing = Listing.where(id: task.listing_id).first
                  %td.leading-none
                    %span.badge.rounded-lg.bg-gray-200.px-4.py-1{:class => "bg-success/10 !font-normal"}= (task.status || "None")
                  %td
                    %p.text-xs{data: { controller:'date-time-style', data: task.cleaning_date.to_i}}
                  %td= listing.name
                  %td
                    %span.font-semibold= number_to_currency(listing.cleaning_fee)
    =render partial: "/shared/pagination", locals: {per_page: @per_page, pagy: @pagy , url: root_path}